---

external_interface: "eth0"

internal_interface: "eth0"

admingroup: "admin"

network_scheduler: "fq_codel"

#nfs_mount_addr: "10.1.1.5"

# See examples/hosts-example for an ansible group showing how one can add an extra group of hosts to the DNS (/etc/hosts & dnsmasq on install node)
#hosts_file_extra_group_to_populate: "{{ groups.switches }}"

# Kickstart file VM specifics

# SSHD
sshd:
 AllowGroups: "root admin" 
 PermitRootLogin: "without-password"

# Do not install host keys on this node
install_ssh_host_keys_from_nfs: False
# Do not copy them to NFS
install_ssh_host_keys_to_nfs: False
# But do install the known_hosts files
install_ssh_known_hosts_from_http: False

# Install extra packages
unconfigured_packages:
 - git
 - nfs-utils
 - bash-completion
 - wget
 - pdsh
 - fgci-meta-install

# For sure do not install infiniband packages on install node
infiniband_available: False

# NIS server settings
nis_server: True
nis_initialize: True
nis_enabled: True

# DNSmasq
dnsmasq_listen_address: "{{ int_ip_addr }}"

## KS profile and server Dir
ksBootSrvDir: "/var/www/html/ks"

# central syslog
central_log_host: "@10.1.1.1"

#Users
adminremove_passwords: True

# NTP/chrony server
chrony_allow_deny:
 - "allow {{ internal_net }}"

